.container {
  width: 100%;
  height: 5vw;
  background-color: rgba(108, 38, 221, 0.884);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
}
.logo {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eventLogo {
  width: 3vw;
}
.labelLogo {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 900;
}
.menus {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}
.menuselect {
  width: 50%;
  color: #ffffff;
  font-weight: 900;
}
.menu {
  width: 50%;
  color: #ffffff;
}
.addevent {
  margin-right: 3px;
  color: #ffffff;
}
.link {
  outline: none;
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .container {
    height: 10vw;
  }
  .eventLogo {
    width: 7vw;
  }
  .menus {
    width: 50%;
  }
  .labelLogo {
    display: none;
  }
}
